<div class="flex spc-btwn group-card">
    <div class="flex vert">
        <h4><%= entity.name %></h4>
        <h4 class="text2"><%= entity.created_at.strftime("%d %b %Y") %></h4>
    </div>
    <div>
    <h4 class="text2">$ <%= entity.amount %></h4>
    </div>
</div>