<li class="flex vert cntrd" style="margin: 5px 0;">
    <div class="group-card">
       <div>
        <% if group.image.attached? %>
            <img src="<%=(url_for(group.image)) %>", alt="group-image", style="width:60px; height:60px;">
        <% end %>
        </div>

        <div class="flex vert cntrd">
          <div><%= link_to group.name, group_entities_path(group), :class => 'text1' %></div>
        </div>
        
        <div class="flex vert cntrd">
            <div>$ <%= group.entities.sum(:amount) %></div>
        </div>
    </div>
</li>