<section class="bkg1 full-scrn flex vert">
  <nav class="navbar">
    <div class="flex vert">
      <h6 class="text-white">Signed in</h6>
      <h6 class="text-white">as: <%= @user.name %></h6>
    </div>

    <div>
      <h2 class="text-white" style="margin-left: 15%">CATEGORIES</h2>
    </div>

    <div class="actions">
      <% if user_signed_in? %>
      <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn3" %>
      <% end %>
    </div>
  </nav>

  <div class="flex vert spc-btwn gap" style="height: 100%;">
    <div class="flex vert" style="width: 100%; flex-wrap: wrap;yy">
      <% @groups.each do |group| %>
        <%= render "group_card", group: group %>
      <% end %>
    </div>

    <div class="flex vert cntrd green">
      <%= button_to 'ADD NEW CATEGORY', new_group_path, method: :get, class: 'btn4'%>
    </div>
  </div>
</section>
