* {
    display: flex;
    box-sizing: border-box;
}

script, style, title {
    display: none;
}

html, head, body, section, form, tbody, .vert {
    flex-direction: column;
}

.spc-arnd {
    justify-content: space-around;
}

.spc-btwn {
    justify-content: space-between;
}


table {
    display: table;
    width: 100%;
  }
  
  th, td {
    display: table-cell;
    border: 1px solid gray;
    flex: 1;
  }